<h1>Editing Monument</h1>

<%= render "formmonument", monument: @monument %>

<br>

<div>
  <%= link_to "Show this monument", @monument %> |
  <%= link_to "Back to monuments", monuments_path %>
</div>
