<div class="cards">
  <% @monuments.each do |monument| %>
    <div class="card-monument rounded-4">
      <img src="<%= monument.picture %>" />
      <div class="card-monument-infos">
        <div>
          <h2><%= monument.name %></h2>
          <p><%= monument.address %></p>
        </div>
        <h2 class="card-monument-pricing">$<%= monument.price %></h2>
      </div>
    </div>
  <% end %>
</div>
