.geo-card-monument {
  overflow: hidden;
  max-height: 120px;
  background: white;
  display: flex;
  align-items: center;
}

.geo-card-monument h4 {
  color: #143495;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.geo-card-monument p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-bottom: 4px;
}

.geo-card-monument .card-product-infos {
  padding-left: 8px;
  padding-right: 8px;
}

.btn-flat {
  color: white!important;
  background: #143495!important;
  font-size: 12px!important;
  padding: 5px!important;
  border-radius: 4px!important;
}

.btn-flat:hover {
  background: white!important;
  color: #143495!important;
  border: 2px solid #143495!important;
}
