.mapboxgl-popup {
  max-width: 250px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 10px 10px 10px;
}

.custom-marker {
  height: 30px;
  width: 30px;
  background-image: url("pin.png");
  background-size: contain;
  background-position: center;
  transition: all ease-in-out 0.3s;
}

.red-pin {
  background-image: url("pin-red.png") !important;
  transform: scale(1.1) !important;
}

.mapboxgl-canvas-container {
  .custom-marker:hover {
    background-image: url("pin-red.png");
    transform: scale(1.1);
  }
}
